@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Dimension Data Privacy Statement.</p>
<p>
    Dimension Data Privacy Statement
    1. Introduction Dimension Data Holdings plc and its affiliates (collectively “Dimension Data” “us” and “we”) understand the importance of protecting your personal data.
    This Privacy Statement describes how Dimension Data collects and uses your personal data, who we share it with, and your choices and rights in relation to your personal data.
</p>
<p>It applies to personal data that we collect from you during your interactions with us, whether online, including through our websites (including mobile sites) and social media sites (“Sites”), mobile applications (“Apps”) (collectively “Online Services”) that link to this Privacy Statement, in writing or orally, or personal data that we may collect offline or receive from third parties.</p>
<p>
    2. Personal data we collect

    Personal data is any information that identifies you as an individual or relates to you as an identifiable individual.

    Depending on how you interact with us, personal data we collect may include:

    your name;
    email address;
    postal address;
    telephone number;
    log-in and account information for authentication purposes and account access;
    your gender; and
    social media account information.
    We may also collect other information that does not personally identify you. Such other information includes browser and device information, website and application usage data, IP addresses, demographic information such as marketing preferences, geographic location, primary language, and information collected through cookies and other technologies or information that has been anonymised or aggregated. If we link this information with your personal data, we will treat that linked information as personal data.

    You can choose not to provide personal data to us when requested. However, if this is necessary to provide you with our solutions and services, access to our Online Services, or to perform administrative functions, we may be unable to do these things.
</p>
<p>
    3. Sensitive personal data

    We do not collect sensitive personal data about you, e.g. information relating to your health, religion, political beliefs, race or sexual orientation and ask that you do not send or provide this information to us.

    4. How we collect your personal data

    We may collect your personal data from you in a variety of ways when you interact with us, including:

    when you access our Online Services, or interact with us in any other way, or use our solutions and services.
    We collect personal data when you place orders for our solutions and services, you create an account with us, we process your orders and payment transactions, perform administrative and business functions, market our solutions and services to you and when you register for our events, workshops and seminars or subscribe to our mailing lists and newsletters.

    when you communicate with us.
    We collect personal data when we respond to your inquiries and requests, obtain feedback from you about our solutions and services or you apply for employment with us.

    from third party sources.
    We collect personal data from third parties, including public databases, social media sites, business partners with whom we offer co-branded services or engage in joint marketing activities and third parties that provide list enhancement or similar services.

    When you use our Online Services, we may, and third parties we engage may automatically collect data, including personal data through use of cookies and similar technologies. For more information, see the "Cookies and Similar Technologies" section below.
</p>
<p>
    5. Legal basis for processing your personal data

    When we process your personal data in connection with the purposes set out in this Privacy Statement, we may rely on one or more of the following legal bases, depending on the purpose for which the processing activity is undertaken and the nature of our relationship with you:

    our legitimate interests (or those of a third party with whom we share your personal data) for the purpose of managing, operating or promoting our business, including direct marketing, and intra-Dimension Data group transfers of personal data for business and administrative purposes, except where such interests are overridden by your interests or fundamental rights or freedoms which require protection of personal data.

    where this is necessary to comply with a legal obligation on us.
    to protect the vital interests of any individual.
    where you have consented.
</p>